@model IEnumerable<WebApplication4.Dtos.BookDto>
<div class="book-grid">
    @foreach (var book in Model)
    {
        <div class="book-item">
            <div class="book-image">
                <img src="~/images/placeholder.jpg" alt="@book.Title" />
            </div>
            <div class="book-details">
                <div class="genre-tags">
                    @foreach (var genre in book.Genres)
                    {
                        <span class="genre-tag">@genre.GenreName</span>
                    }
                </div>
                <span class="author-tag">@book.Author</span>
                <span class="pages-tag">@book.NumberOfPages</span>
                <div class="book-actions">
                    <a asp-action="Edit" asp-route-id="@book.Id" class="action-link">
                        <img src="~/images/icons/pen-solid.svg" alt="Edit" />
                    </a>
                    <a asp-action="Details" asp-route-id="@book.Id" class="action-link">
                        <img src="~/images/icons/circle-info-solid.svg" alt="Details" />
                    </a>
                    <a asp-action="Delete" asp-route-id="@book.Id" class="action-link">
                        <img src="~/images/icons/trash-solid.svg" alt="Delete" />
                    </a>
                </div>
            </div>
        </div>
    }
</div>
